<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Giakor.Properties.Settings.conexion" connectionString="server=localhost;user id=root;password=Labicha123;database=giakor"
            providerName="MySql.Data.MySqlClient" />
        <add name="Giakor.Properties.Settings.giakorConnectionString"
            connectionString="server=localhost;user id=root;password=Labicha123;persistsecurityinfo=True;database=giakor"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>